name: Publish site to Production

on:
  workflow_dispatch:

jobs:
  publish-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - name: setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
      - name: Find and Replace homepage in packages.json
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          find: '[HomePage]'
          replace: 'https://fatstx.github.io/'
          regex: false
          include: 'package.json'
      - name: install packages
        run: yarn install
      - name: build
        run: yarn build
      - name: deploy
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: main
          folder: build
          token: ${{ secrets.PAT_GHPAGES_PUBLISH }}
          repository-name: 'FatStx/FatStx.github.io'
